<!-- proyectos -->
<section class="p-5" id="projects">
  <div class="container">
      <h1 class="mb-4">Proyectos</h1>
      <div class="row">
          <div class="col-xl-12">
              <div class="bd-edit"><button type="button" class="btn-edit" title="" data-original-title="editar"><i class="fa fa-pen"></i></button></div>
          <div class="bd-edit"><button type="button" class="btn-delete" title="" data-original-title="delete"><i class="fa fa-trash"></i></button></div>
              <div class="card mb-4">
              <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
              </div>
          </div>
          <div class="col-xl-12">
              <div class="bd-edit"><button type="button" class="btn-edit" title="" data-original-title="editar"><i class="fa fa-pen"></i></button></div>
          <div class="bd-edit"><button type="button" class="btn-delete" title="" data-original-title="delete"><i class="fa fa-trash"></i></button></div>
              <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              </div>
              </div>
          </div>
      </div>
  </div>
</section>
