<!-- nav -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="nav-bar">
  <div class="container">
      <a class="navbar-brand" href="#">AP | Mariano Mello</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link px-1 mx-1 py-3 my-n2" href="#"><i class="fa fa-linkedin"></i><span class="sr-only">Linkedin</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link px-1 mx-1 py-3 my-n2" href="#"><i class="fa fa-github"></i><span class="sr-only">GitHub</span></a>
              </li>
          </ul>
          <!-- <button type="button" (click)="login()" class="btn btn-primary d-lg-inline-block mb-3 mb-md-0 ml-md-3">login</button> -->
          <button type="button"  class="btn btn-primary btn-sm" routerLink="/login">Small button</button>
          <!-- <a href="/login" class="btn btn-primary d-lg-inline-block mb-3 mb-md-0 ml-md-3" role="button" aria-pressed="true">Login</a> -->
      </div>
  </div>
</nav>
