<!-- header -->
<header class="top-count-outer" id="hero-section">
  <div class="hero-wrapper">
      <div class="card hovercard bg-light">
          <div class="cardheader"></div>
          <div class="container">
              <div class="row">
                  <!-- <div class="bd-edit"><button type="button" class="btn-edit btn-edit-profile" title="" data-original-title="editar"><i class="fa fa-pen"></i></button></div> -->
                  <div class="avatar">
                      <img src="../assets/img/profile-pic.jpg" alt="imagen de perfil de Mariano Mello">
                  </div>
              </div>
              <div class="row info">
                  <div class="col-lg-4 h-100">
                      <div class="bd-edit"><button type="button" class="btn-edit" title="" data-toggle="modal" data-target="#edit-personal_info"><i class="fa fa-pen"></i></button></div>
                      <div class="bg-light ">
                          <h1>Mariano Mello</h1>
                          <h3><b>Web Developer</b></h3>
                          <p>Mar del Plata, Buenos Aires, Argentina</p>
                      </div>
                  </div>
                  <div class="col-lg-8">
                      <div class="bd-edit"><button type="button" class="btn-edit" title="" data-original-title="editar"><i class="fa fa-pen"></i></button></div>
                      <div class="bd-edit"><button type="button" class="btn-delete" title="" data-original-title="delete"><i class="fa fa-trash"></i></button></div>
                      <div class="h-100 bg-light">
                          <h3>Acerca de mi</h3>
                          <p>Soy un desarrollador Frontend con experiencia creando y desarrollando sitios Web con frameworks como Bootstrap, Wordpress y React, entre otros. Me especializo en UX/UI y en 2021 decidí incorporar credenciales que respalden mi formación. Por esta razón el año pasado decidí comenzar el programa nacional #ArgentinaPrograma. Actualmente me encuentro cursando la segunda etapa #YoProgramo para poder convertirme en desarrollador FullStack.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
