<!-- experiencia -->
<section class="p-5" id="experience">
  <div class="container">
      <h1 class="mb-4">Experiencia</h1>
      <div class="flex-row">
          <ul class="list-unstyled">
              <div class="bd-edit"><button type="button" class="btn-edit" title="" data-original-title="editar"><i class="fa fa-pen"></i></button></div>
              <div class="bd-edit"><button type="button" class="btn-delete" title="" data-original-title="delete"><i class="fa fa-trash"></i></button></div>
              <li class="flex-column flex-md-row media">
                <img class="align-self-center mr-4" src="https://picsum.photos/64/64" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">List-based media object</h5>
                  <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aperiam officia accusamus.</p>
                  <h6 class="">2012 - 2018</h6>
                </div>
              </li>
          </ul>
      </div>
      <h1 class="mb-4" id="education">Educación</h1>
      <div class="flex-row">
          <ul class="list-unstyled">
              <div class="bd-edit"><button type="button" class="btn-edit" title="" data-original-title="editar"><i class="fa fa-pen"></i></button></div>
              <div class="bd-edit"><button type="button" class="btn-delete" title="" data-original-title="delete"><i class="fa fa-trash"></i></button></div>
              <li class="flex-column flex-md-row media">
                <img class="align-self-center mr-4" src="https://picsum.photos/64/64" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">List-based media object</h5>
                  <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aperiam officia accusamus.</p>
                  <h6 class="">2012 - 2018</h6>
                </div>
              </li>
              <!-- <div class="bd-edit"><button type="button" class="btn-edit" title="" data-original-title="editar"><i class="fa fa-pen"></i></button></div>
              <div class="bd-edit"><button type="button" class="btn-delete" title="" data-original-title="delete"><i class="fa fa-trash"></i></button></div>
              <li class="flex-column flex-md-row media my-4">
                <img class="align-self-center mr-4" src="https://picsum.photos/64/64" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">List-based media object</h5>
                  <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aperiam officia accusamus.</p>
                  <h6 class="">2012 - 2018</h6>
                </div>
              </li>
              <div class="bd-edit"><button type="button" class="btn-edit" title="" data-original-title="editar"><i class="fa fa-pen"></i></button></div>
              <div class="bd-edit"><button type="button" class="btn-delete" title="" data-original-title="delete"><i class="fa fa-trash"></i></button></div>
              <li class="flex-column flex-md-row media">
                <img class="align-self-center mr-4" src="https://picsum.photos/64/64" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">List-based media object</h5>
                  <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aperiam officia accusamus.</p>
                  <h6 class="">2012 - 2018</h6>
                </div>
              </li> -->
          </ul>
      </div>
  </div>
</section>
