<!-- experiencia -->
<section class="p-5" id="experience">
  <div class="container">
    <h1 class="mb-4">Experiencia</h1>
    <button type="button"  class="btn btn-primary btn-sm" routerLink="/agregarexperiencia">Nueva Experiencia</button>


    <div class="flex-row">
      <ul class="list-unstyled">
          <li class="flex-column flex-md-row media" *ngFor="let experience of experienceList">
          <img class="align-self-center mr-4" [src]="experience.urlImageEx" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{{experience.positionEx}}</h5>
            <p class="mb-1">{{experience.modeEx}}</p>
            <h6 class=""><time>{{experience.startEx}}</time> - <time>{{experience.endEx}}</time></h6>
          </div>
          <button type="button" class="btn btn-primary btn-sm mr-2"><i class="fa fa-pen"></i></button>
          <button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-trash"></i></button>
        </li>
      </ul>
    </div>
  </div>
</section>


